/*
 * SPDX-FileCopyrightText: 2025 Jack Henry
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@font-face {
  font-family: 'roboto';
  src:
    local('roboto Light'),
    url('/fonts/roboto-light-webfont-ff3a9b8a.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'roboto';
  src:
    local('roboto Regular'),
    url('/fonts/roboto-regular-webfont-06db651c.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'roboto';
  src:
    local('roboto Italic'),
    url('/fonts/roboto-italic-webfont-d276fd76.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'roboto';
  src:
    local('roboto Medium'),
    url('/fonts/roboto-medium-webfont-ea04e4ff.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'roboto';
  src:
    local('roboto Bold'),
    url('/fonts/roboto-bold-webfont-61938919.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body[open-dialog] {
  overflow: hidden;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: var(--secondary-page-background-color);
  font-family:
    'roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 400;
  color: var(--body-text-primary-color);
  font-size: 14px;
}
html,
body {
  margin: 0;
  display: block;
  min-height: 100vh;
}
input:-webkit-autofill,
input:-internal-autofill-selected {
  -webkit-text-fill-color: var(--body-text-primary-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-content-background-color) inset;
}
